* {
  padding: 0;
  box-sizing: border-box;
}


@media only screen and (min-width: 961px) {

	html {
    height: 100%;
  }

	body {
	  height: 100%;
	  margin: 0;
	  background-color:  #83d0c9;  
	}



	.logo{
    font-family: 'Archivo Black', sans-serif;
    color:white;
	  font-size: 100px;
	  position: absolute;
	  top: 21.5%;
	  left: 35.5%;
    z-index: 30;
        height: auto;

	}

	.home-page-link{
	  text-decoration:none;
	  position: absolute;
	  top: 40%;
	  left: 47%; 
    font-family: 'Archivo Black', sans-serif;
    color:#ffdb4d;
	  font-size: 30px;
	  height: auto;

	}

	.cardIllustration{
		width: 50%;
    height: auto;

	}

	.clickStyle{
		color: #ffdb4d;
		text-decoration: none;

	}

	.clickStyle:hover{
		background-color:#ffdb4d ;
		color: white;
		text-decoration: none;


	}

}