* {
  padding: 0;
  box-sizing: border-box;
}



	html {
    height: 100%;
  }



	body {
	  height: 100%;
	  margin: 0;
	  background-color:  #83d0c9;  
	}



	.logo{
    font-family: 'Archivo Black', sans-serif;
    color:white;
	  font-size: 100px;
	  position: absolute;
	  top: 21.5%;
	  left: 35.5%;
    z-index: 30;
    height: auto;
	}



	.home-page-link{
	  text-decoration:none;
	  position: absolute;
	  top: 43%;
	  left: 37%; 
    font-family: 'Archivo Black', sans-serif;
    color:#ffdb4d;
	  font-size: 20px;
	  height: auto;
	}



	.cardIllustration{
		width: 30%;
    height: auto;
	}



	.clickStyle{
		color: #ffdb4d;
		text-decoration: none;
	}



	.clickStyle:hover{
		background-color:#ffdb4d ;
		color: white;
		text-decoration: none;
	}



