	li{
	margin-bottom: 6.5px;
	}


/*	.tagClass{
		font-size: 10px;

	}
*/
/*	#InputTagId{

	}*/

	input{
   height: 20px;
   font-size:17px;
   width: 200px;
   color: 	#909090;

	}




 #wrapperForallButtonsDivWrapper{
  /*background*/-color: red;
	margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    position: relative;
    top: 50%;
  }



  #allButtonsDivWrapperId {
    background-color: yellow;
    width: 290px;
   /* position: absolute;
    position: 40%;
    left: 30%;*/
    text-align: center;
    background-color: #f5f5f5;

    margin: auto;

  }








  .buttonBlockStyle:hover {  
    background-color: 	#B8B8B8;
    color: white;
  }

.selectTagStyle {
		padding: 10px;
		height: 36px;
		width: 70px;
		font-size: 13px;
		border: none;
		color: 		#909090;
		background-color: white;
		-webkit-appearance: none;
    -webkit-border-radius: 0px;
}




.backButtonStyle {
	padding: 10px;
	font-size: 13px;
		border: none;
		color: 		#909090;
		padding-right: 20px;
		padding-left: 20px;

}

.frontButtonStyle {
	padding: 10px;
	font-size: 13px;
		border: none;
		color: 	#909090;
		padding-right: 20px;
		padding-left: 20px;

}

.designRefreshStyle {
		padding: 10px;
	font-size: 13px;
		border: none;
		color: 	#909090;


} 

.InputBoxStyle {
		padding: 10px;
	font-size: 13px;
		border: none;
		color: 	#909090;
/*		padding-right: 40px;
		padding-left: 40px;*/



}

.UploadStyle{
	padding: 10px;
	font-size: 13px;
		border: none;
		color: 	#909090;
		height: 36px;
		background: white;
		width: 90px; 



}

/*::-webkit-file-upload-button{
	background: white;
  color: #909090;
  border: none;
  font-size: 15px;
  width: 70px; 
}*/


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="file"]:after{
/*  content: "Browse";
*/  }















 


  
