* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.home-page-link{
	text-decoration:none
}







/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    /*background-color: #ffef96;*/ /* Blue  */
  background-color: #FB393C; /* Blue  */
/*  background: radial-gradient(circle, #FB393C, #E22029)*/
 }



  .main-webpage-div{
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
/*    background-color: green;
*/
  }


  /*******all button style*******/
/*	.all-buttons-div{
		display:inline-block;
	}*/



	button{
		margin: 40px;
	}




	button:focus {
		outline:0;
	}



	.button-style{
		border: 1px solid;
		border-style: none;
		padding: 34px 58px;
		font-size: 16px;
		color:#EE2B29;
  	transition: 0.3s;
		opacity: 10;
		font-size: 100%;
    cursor: pointer;
	}





	.button-style:hover {
	  background-color: #83d0c9;
	  color: white;
	  opacity:0.75;
	}


  /********styles related squarecard and round cards********/	



/*  .attach-cards-div{
    height: 300px;
	 	width: 100%;
	 	margin: auto;
	 	text-align: center;

	}*/



/*  .square-card-style {
    height:270px;
    width: 270px;
    background-color: coral;    
    color: white;
    cursor: pointer;
  }





  .border-radius-card-style {
    height:270px;
    width: 270px;
    background-color: green;    
    color: white;
    cursor: pointer;
  }*/

  /********adding shapes to the boxes********/ 

#squareMainID{

  height:270px;
    width: 270px;
    background-color: coral;    
    color: white;
    cursor: pointer;

}

#roundMainID{

  height:270px;
    width: 270px;
    background-color: green;    
    color: white;
    cursor: pointer;
    border-radius: 45px;

}




  /********class get attached on click********/ 



  .back{
    background-color: yellow;
    width: 270px; 
    height: 270px; 
    cursor: pointer;

  }

  .front{
    background-color: orange;
    width: 270px; 
    height: 270px; 
    cursor: pointer;

  }



  .classA { 
    perspective: 1000px; 
  } 



  .classA:hover .classB {
    transform: rotateY(-180deg);
  } 


  .classA, .front, .back {
    width: 270px; height: 270px; 
  } 


  .classB {
    transition: 0.6s; 
    transform-style: preserve-3d; 
    position: relative;
  }


  .front, .back { 
    backface-visibility: hidden; 
    position: absolute; 
    top: 0;
    left: 0;
  } 

  .front{ 
    z-index: 10; 
    transform: rotateY(0deg);
  } 


  .back { 
    transform: rotateY(-180deg);
  }






  .back2{
    background-color: yellow;
    width: 270px; 
    height: 270px; 
    cursor: pointer;
    border-radius: 20px;

  }

  .front2{
    background-color: orange;
    width: 270px; 
    height: 270px; 
    cursor: pointer;
    border-radius: 20px;

  }

  .classA { 
    perspective: 1000px; 
  } 



  .classB {
    transform: rotateY(-180deg);
  } /*// this gets added to the transition*/ /*.classA:hover */


  .classA, .front2, .back2 {
    width: 270px; height: 270px; 
  } 


  .classB {
    transition: 0.6s; 
    transform-style: preserve-3d; 
    position: relative;
  }


  .front2, .back2 { 
    backface-visibility: hidden; 
    position: absolute; 
    top: 0;
    left: 0;
  } 

  .front2{ 
    z-index: 10; 
    transform: rotateY(0deg);
  } 


  .back2{ 
    transform: rotateY(-180deg);
  }


