* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.home-page-link{
	text-decoration:none
}







/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    /*background-color: #ffef96;*/ /* Blue  */
  background-color: #FB393C; /* Blue  */
/*  background: radial-gradient(circle, #FB393C, #E22029)*/
 }



  .main-webpage-div{
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
/*    background-color: green;
*/
  }


  /*******all button style*******/
/*	.all-buttons-div{
		display:inline-block;
	}*/



	button{
		margin: 40px;
	}




	button:focus {
		outline:0;
	}



	.button-style{
		border: 1px solid;
		border-style: none;
		padding: 34px 58px;
		font-size: 16px;
		color:#EE2B29;
  	transition: 0.3s;
		opacity: 10;
		font-size: 100%;
    cursor: pointer;
	}





	.button-style:hover {
	  background-color: #83d0c9;
	  color: white;
	  opacity:0.75;
	}


  /********styles related squarecard and round cards********/	



  .attach-cards-div{
    margin: auto;
    width: 100%;
    padding: 10px;
    left: 300px;
    text-align: center;
    background-color: pink;
	}


  #squareMainID{
    display: inline-block;
  }

  #roundMainID{
    display: inline-block;
  }



/*  .square-card-style {
    height:270px;
    width: 270px;
    background-color: coral;    
    color: white;
    cursor: pointer;
  }





  .border-radius-card-style {
    height:270px;
    width: 270px;
    background-color: green;    
    color: white;
    cursor: pointer;
  }*/

  /********adding shapes to the boxes********/ 

#squareMainID{

  /*height:270px;
    width: 270px;
    background-color: coral;    
    color: white;
    cursor: pointer;
*/
}

#roundMainID{

  /*height:270px;
    width: 270px;
    background-color: green;    
    color: white;
    cursor: pointer;
    border-radius: 45px;*/

}




  /********class for square********/ 

  .back{
    background-color: yellow;
    width: 270px; 
    height: 270px;
    cursor: pointer;
  }



  .front{
    background-color: yellow;
    width: 270px; 
    height: 270px; 
    cursor: pointer;
  }



  .classA { 
    width: 270px; 
    height: 270px;
    perspective: 1000px; 
    position: relative;
    margin-top:7px;
    margin-left:25px;
    margin-right: 25px;
    left:1%;
    background-color: blue;
  } 


  .classB {
    width: 270px; 
    height: 270px;
    transition: transform 1.5s; 
    transform-style: preserve-3d; 
    -webkit-transform-origin: 50% 50%;
    position: absolute;
    bottom: 10px;
    right: 7px;
  }


  .classB .front{
    height: 100%;
    width: 100%;
    position: absolute; /*this flips on the same side*/
    backface-visibility: hidden;

  }



  .classA .back {
    transform: rotateY(180deg);
  } 


  .classA .front {
    width: 270px; height: 270px; 
  } 



  .sun {
    transform: rotateY( 180deg );
  }



  .moon {
    transform: rotateY(0deg );
  }





  /********class for round********/ 

  .back2{
    background-color: yellow;
    cursor: pointer;
    width: 270px; 
    height: 270px; 
    border-radius: 20px;
  }



  .front2{
    background-color: orange;
    width: 270px; 
    height: 270px; 
    cursor: pointer;
    border-radius: 20px;
  }



  .classA { 
    width: 270px; 
    height: 270px;
    perspective: 1000px; 
    position: relative;
    margin-top:7px;
    margin-left:25px;
    margin-right: 25px;
    left:1%;
    background-color: blue;
  } 


  .classB {
    width: 270px; 
    height: 270px;
    transition: transform 1.5s; 
    transform-style: preserve-3d; 
    -webkit-transform-origin: 50% 50%;
    position: absolute;
    bottom: 10px;
    right: 7px;
  }


  .classB .front2{
    height: 100%;
    width: 100%;
    position: absolute; /*this flips on the same side*/
    backface-visibility: hidden;
  }



  .classA .back2 {
    transform: rotateY(180deg);
  } 



  .classA .front2 {
    width: 270px; height: 270px; 
  } 



.sun {
  transform: rotateY( 180deg );
}



.moon {
  transform: rotateY(0deg );
}



#dragIDsweety{
  z-index: 30;
}/*// this is for draggable element*/

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
